body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: #28a745;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #f2f2f2;
}

/* Estilo para o modal */
.modal {
    display: none; /* Por padrão, o modal está oculto */
    position: fixed; /* Fique em uma posição fixa */
    z-index: 1; /* Coloque o modal sobre o restante do conteúdo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adicione rolagem se necessário */
    background-color: rgba(0,0,0,0.4); /* Fundo preto semi-transparente */
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centralize o modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}

/* Estilo para o botão de fechar do modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
